<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="monstyle.css" rel="stylesheet" type="text/css" />
        <title>eMarket</title>
    </h:head>
    <h:body><f:view><center>
        <h:graphicImage value="https://cdn.ycan.shop/stores/e4f6f0f15b9a9ba7e3b4fb6dc92ab2f4/others/fGN47LwRhtnFXC5RoRS1GHKUiVnRZ53lttOrfDNI.png" alt="T'avais qu'à avoir une bonne co"/>
        <h1>eMarket</h1>
        <p>Accueil de l'application eMarket</p>
        <p><h:commandButton value="Buy !!" styleClass="commandbutton"/></p>

        <ul>
            <li><h:form>
                <h:commandLink action="gotoshoppingcart">
                <h:outputText value="Lien vers le panier"/>
                </h:commandLink>
                </h:form></li>
            <li><h:form>
                <h:commandLink action="gotocatalog">
                <h:outputText value="Lien vers le catalogue"/>
                </h:commandLink>
                </h:form></li>
        </ul>
             
            </center></f:view></h:body>
</html>

